* text=auto eol=lf

*.sh text eol=lf
*.py text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.ipynb text eol=lf

*.safetensors binary
*.bin binary
*.pt binary
*.onnx binary